@model laundry.ViewModels.ItemViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Details</h2>
<div class="itmDetails">

    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-6 col-md-8">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info">@Html.DisplayFor(model => model.ItemName)</span></h4>
                    @*<img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">*@
                    <img src='@Url.Content(Model.itemImg)' class="img-responsive" style="max-height:45rem;"/>
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h4>Price (R.O)</h4>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h4>
                                    <label>@Html.DisplayFor(model => model.Price)</label>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h4>  Main Category:</h4>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h4>
                                    <label>@Html.DisplayFor(model => model.McatName)</label>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h4> Sub Category:</h4>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h4>
                                   <label> @Html.DisplayFor(model => model.ScatName)</label>
                                </h4>
                            </div>
                        </div>
                        <p>@Html.DisplayFor(model => model.Description)</p>
                        @*<div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
                            </div>
                        </div>*@

                        <p> </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*-----------------------------------------------------------*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
