@model laundry.Models.DB.tbl_Account_role

@{
    Layout = "";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-3">User Name:</label>
            <div class="col-md-9">
                @Html.DropDownList("AID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Role Name:</label>
       
            <div class="col-md-9">
                @Html.DropDownList("RID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
